html { 
  height: 100%;
   }
@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  background: #EDEDED;
  height: 100%;
  width: 100%;
}
.popular li, .latest li {
  display: inline-block;
  width: 306px;
  height: 306px;
  margin: 0px 20px 20px 0px;
}
.popular, .latest {
  width: 1004px;
  margin: auto;
}
h1 {
  text-align: center;
  font-family: 'Lato';
  font-size: 36px;
  padding: 20px;
  font-weight: bold;
  color: #4F4F4F;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav  ul{
  list-style: none;
  text-decoration: none;
}
.nav  ul li {
  display: inline;
}
.blogPic{
  height: 100%;
  width: 100%;
}
#blog{
  height:100%;
  width:65%;
  display: inline;
  float: left;
  margin: 10px;
}
#pic{
  height:100%;
  width:30%;
  float:right;
  margin: 10px;
  display: inline;
}

@media only screen and (max-device-width: 480px) {
  .jumbotron {
    background:url('IMG_1003.png') no-repeat center center;
    background-size: 100%;
    height: 85%;
    background-color: #F0FFFF;
  }
  .jumbotron h1{
    float: left;
  } 
  .jumbotron h2 {
    display: none;
  } 
  .nav a {
    font-size: 50px; 
  padding: 14px 18px; 
  }
}