html { 
  height: 100%;
   }
@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  background: #EDEDED;
  height: 100%;
  width: 100%;
}
#countryTitle{
  width: 100%;
}
#countryTitle h1{
  font-size: 40px;
  text-align: center; 
}
.blog{
  height: 100%;
  width: 90%;
  float:center; 
  float: center;
  font-size: 100%;
}
.postsText{
  height:100%;
  width: 70%;
  display: inline;
  float: right;
  margin: 10px;
}
.postsMap{
  width: 20%;
  display: inline;
  float: left;
  margin: 10px;
}
.hideCountry img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.showCountry img {
  -webkit-transition: all .6s ease; 
  filter: none;
  -webkit-filter: grayscale(0%);
}
#countryFlags img:hover {
  -webkit-transition: all .6s ease; 
  filter: none;
  -webkit-filter: grayscale(0%);
}
.hideCountry .imgDescription{
  position:absolute;
  top:40%;
  left:40%;
  font-weight: bolder;
  font-size: 30px;
  color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.countryFlag:hover .imgDescription{
  visibility: hidden;
}
.showCountry .imgDescription {
  visibility: hidden;
}


@media only screen and (max-device-width: 480px) {
  #blog {
    float:none;
    width: 100%;
  }
  .countryFlags{
    position: center;
    margin: 0; 
    width: 100%;
  }
  .imgDescription{
    font-size: 40px;
  }
  #countryTitle h1{
    font-size: 55px;
  }
  .blog p{
    font-size: 30px;
  }
  .postsMap {
    display: none;
  }
  .postsText{
    height:100%;
    width: 80%;
    display: inline;
    float: center;
    margin: 10px;
  }

}
